<div class="container" style="margin: 20px">
  <div class="row">
    <div class="col-sm-12 col-md-12 ">
        <div *ngIf="success">
            <div class="alert alert-success">
              {{ msg }}
            </div>
         </div>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of allusers; let i = index">
      <td>{{i+1}}</td>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td> <a class="btn btn-danger" style="color:#fff" (click)="clickMethod(  user.username, user.id )"><i class="fa fa-trash" aria-hidden="true"></i></a>
      </td>
    </tr>
   

    <!-- Modal -->
    
    
  </tbody>
</table> 
</div>
</div>
</div>
